*{
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

:root{
    --clr-dark-slate-grey: hsl(234, 29%, 20%);
    --clr-charcoal-grey: hsl(235, 18%, 26%);
    --clr-grey: hsl(231, 7%, 60%);
    --clr-white: hsl(0, 0%, 100%);
}

.banner img{
    width: 375px;
    height: auto;
    margin: 0;
}

.app{
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
    width: 375px;
    display: grid;
    color: var(--clr-dark-slate-grey);
    padding-left: 20px;
}

.update h1{
    font-size: 40px;
}

.update p{
    font-weight: 400;
    margin-bottom: 15px;
}

.list{
    margin-right: 50px;
    margin-top: 10px;
    padding: 0;
}

.list li{
    display: flex;
}

.list__bullet-point{
    margin-left: 15px;
    padding-top: 0px;
}

.list p{
    margin: 0px;
}

.list img{
    margin-bottom: 40px;
}

li::marker{
    color: transparent;
    width: 0;
}

.list ul{
    margin: 0;
}

.email p{
    margin-top: 0px;
}

.email__address{
    font-weight: bold;
    font-size: 12px;
}

.email__address p{
    margin-bottom: 6px;
}

.email__input{
    padding-right: 20px;
}

.email__input input{
    width: 100%;
    height: 45px;
    padding: 15px;
    border: 1px solid var(--clr-grey);
    color: var(--clr-dark-slate-grey);
    border-radius: 7px;
    box-shadow: none;
    outline: none;
    margin-bottom: 25px;
}

.email__input input::placeholder{
    color: var(--clr-grey);
    font-size: 15px;
}

.subscribe{
    padding-right: 20px;
}

.subscribe button{
    width: 100%;
    height: 50px;
    border: none;
    color: var(--clr-white);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--clr-dark-slate-grey);
    border-radius: 7px;
    margin-bottom: 45px;
}

@media (min-width: 760px){
    *{
        background-color: var(--clr-charcoal-grey);
    }

    .container{
        display: flex;
        flex-direction: row; /* hace que los elementos se ordenen de izquierda a derecha dentro del div */
        justify-content: space-between; /* distribuye los elementos dentro del div para que haya el maximo espacio posible entre ellos */
        padding: 30px;
        margin: 30px;
        background-color: var(--clr-white);
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .banner{
        order: 2; /* en que lugar se coloca dentro de la fila de elementos del "flex-direction: row;" */
        margin: 0;
    }

    .app{
        order: 1;
        background-color: var(--clr-white);
        margin: 0;
    }
}

.banner img{
    content: url(assets/images/illustration-sign-up-desktop.svg);
}
